* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
    color: #83878c;
    background-color: #ced5e0;
}

nav{
    text-align: center;
    font-family: 'Krub', sans-serif;
    overflow: hidden;
    background-color: black;
    color: #31afd4;
    height: auto;
    padding: 3em;
}
nav h1{
    display: inline-block;
}

nav li{
    font-size: 18px;
    display: inline;
    margin: 50px 50px auto;
    list-style-type: none;
}

input{
    width: 150px;
    border-radius: 20px; 
    border: 1px solid #cccccc;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: #ff007f;
}

.banner{
    position: relative;
    text-align: center;
    width: 100%;
    color: #ff007f;
    font-family: 'Rock Salt', cursive;
    font-size: 4em;
}

.banner img{
    margin-top: 0;
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    margin: 10px 0px;
}

.fila figure img, .fila figure{
    width: 200px;
    top: 0;
}

.fila figure{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    background-color: #a1a5ad;
    color: #ced5e0;
}

.divisor{
    height: auto;
    min-height: 50px;
    width: 100%;
    padding: 10px 0;
    background-color: black;
    color: #902d41;
}

section, .divisor{
  display: flex;
  justify-content: center;
}

.divisor p{
    max-width: 500px;
    margin-left: 50px;
}

.super{
    color: #902d41;
    size: 2em;
    text-decoration: underline;
    margin-bottom: 15px;
}

.extracto{
    width: 100%;
}
.imgdisco::after {
    content: "";
    clear: both;
    display: table;
}

.imgdisco{
    float: left;
    padding: 15px;
    width: 30%;
    min-width: 50px;
    max-height: 500px;
}

.descripcion{
    float: left;
    padding: 15px;
    width: 30%;
    max-width: 250px;
    padding-top: 150px;
}

.lista div{
    float: left;
    padding-top: 150px;
    margin-left: 100px;
    width: 30%;
}

.lista, .descripcion{
    color: #83878c;
}

footer{
    padding: 1em;
    background-color: black;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    text-align: center;
}

#copy{
    float: left;
    margin-left: 10%;
}

#iconos{
    float: right;
    margin-right: 10%;
}

i{
    margin: 0 5px;
    font-size: 2em;
    color: #cccccc;
}

li{
    list-style-position: inside;
}

/* pagina disco*/

.wrapper{
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
}

.inferior .fila{
    margin: 50px;
}

.varios1 img{
    width: 300px;
    height: 300px;
}

.name{
    color: #ff007f;
    font-size: 30px;
}

.marco{
    margin-top: 15px;
    border-top: 1px solid #902d41;
    border-bottom: 1px solid #902d41;
    padding: 15px;
}

.border{
    border: 1px solid #902d41;
    padding: 5px;
}

.varios2{
    margin: 50px;
}